*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
}

/*设置头部样式*/
.shopOfTop{
	width: 100%;
	height: 169px;
	margin-bottom: 25px;
}
/*和body宽度相同的外部wrap*/
.shopOfWrap{
	/*border:1px solid green;*/	
}
/*<!--中间部分宽1180px的div-->*/
.shopOfWrapwrap{
	width: 1180px;
	margin: 0 auto;
	border: 13px solid #D3D3D3;
	/*height: 20px;*/
}
/*<!--中间的内容部分-->*/
.shopOfCenterWrap{
	width: 1110px;
	bordeR:1px solid #D5D5D5;
	margin: 40px auto;	
	padding: 40px;
}
/*<!--图片和我的购物车导航-->*/
.navShop{
	border-bottom: 1px solid #D3D3D3;	
	padding-bottom: 40px;
}
/*易和生活港图片设置*/
.navShop div img{
	height: 40px;
	vertical-align: bottom;	
}
/*易和生活港div设置*/
.navShop div{
	position: relative;
	margin-left: 200px;
	font-size: 20px;
	/*border:1px solid blue;*/
}
.navShop>div>img{
	float: left;
	margin-left: -7px;
}
/*字体布局*/
.myShopspan1,.myShopspan2,.myShopspan3{
	position: absolute;
	top: 10px;
}
.myShopspan1{
	left: 50px;
	
}
.myShopspan2{
	left: 270px;
	
}
.myShopspan3{
	left: 510px;
	color:white;
}

/*提交成功*/
.upBillTrue{
	height: 240px;
	margin-top: 80px;
	text-align: center;
}
.upBillTrue p{
	margin-top: 60px;
	text-align: center;
	font-size: 16px;
}
.upBillTrue p span{
	color:#F46B2B;
}
/*送货至*/
.sendTo{
	padding: 10px;
	background-color: rgb(255,243,236);
	font-size: 12px;
	border:1px solid #D5D5D5;
}
.sendTo img{
	vertical-align: middle;
	margin-right: 5px;
}

.truePay p:first-child{
	padding: 40px 0;
	font-size: 16px;
}
.truePay p:first-child a{
	font-size: 18px;
	color:#F46B2B;
}
.truePay p:first-child span:last-child{
	float: right;
	font-size: 14px;
}
.truePay p:last-child{
	font-size: 16px;
	padding: 10px 0;
	border-bottom: 1px solid #D3D3D3;
}

/*选择支付 方式*/
.choosePay_ul{
	list-style-type: none;
	/*border-bottom:1px solid #D3D3D3;*/
	padding: 40px 0;
	
}
.choosePay_ul li{
	display: inline-block;
	padding: 0 20px;
}
.choosePay_ul li img{
	vertical-align: middle;
	border:1px solid gray;
	padding: 10px 15px;
	margin-left: 10px;
	
}
.paybtnChangePage{
	cursor: pointer;
}
.payBill{
	padding: 60px 200px 60px 210px;
    border: 1px solid #D5D5D5;
}
.payLeft{
	display: inline-block;
    vertical-align: middle;
    margin-right: 140px;
    /*border:1px solid red;*/
    text-align: center;
}
.payRight{
	display: inline-block;
    vertical-align: middle;
    margin-left: 140px;
    text-align: center;
}
.payRight img{
	padding-top: 10px;
}
.payLeft img{
	padding: 20px 0;
}
.payLeft button{
	font-size: 14px;
	color:#fff;
	background-color: #F46B2B;
	border:0;
	width: 175px;
	height: 50px;
	border-radius: 5px;
}
/*中间最底部的微信支付方式*/
.wrapOfPay{
	border:1px solid #D3D3D3;
	width: 1110px;
	height: 400px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 60px;
}
.wrapOfPay .payLeft{
	margin-top: 20px;
	margin-right: 0px;
	width: 350px;	
}
.wrapOfPay .payLeft img{
	margin-left: -90px;
}


/*点击  立即支付 后的弹出框*/
.billPaySuc{
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}
.payAlert{
	margin:1040px auto;
	width: 656px;
	height: 360px;
	background-color: #fff;
	text-align: center;
	border:5px solid #D3D3D3;
	padding-top: 60px;
}
.payAlert h2{
	color:#F46B2B;
}
.payAlert_p1{
	color:#666;
	font-size: 12px;
	padding: 80px 0 20px 0;
}
.payAlert a{
	margin-top: 60px;
    display: inline-block;
    width: 170px;
    height: 72px;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 15px;
    box-sizing: border-box;
    margin: 60px 30px 0;
    cursor: pointer;
    background-color: #F46B2B;
    text-decoration: none;
    line-height: 20px;
}
.payAlert_p2{
	margin-top: 60px;
    display: inline-block;
    width: 170px;
    height: 72px;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    padding-top: 15px;
    box-sizing: border-box;
    margin: 60px 30px 0;
    cursor: pointer;
    background-color: #999;
    line-height: 20px;
}
