*{
	margin: 0;
	padding: 0;
}
#orderPageAmendCenterRight{
	width: 986px;
	border: 1px solid rgb(191, 191, 191);
	/*border: 1px solid red;*/
	height: 535px;
	background-color: rgb(255, 255, 255);
}
#orderPageAmendCenterRightTop{
	border-bottom: 1px solid #d3d3d3;
	height: 56px;
	line-height: 56px;
}
.orderPageAmendSpanTop{
	margin-left: 20px;
	color: #008de1;
}
#orderPageAmendCenterRightBottom{
	/*border: 1px solid rgb(191, 191, 191);*/
	/*border: 1px solid red;*/
	width: 986px;
	height: 479px;
}
.orderPageAmendCenterRightBottomUl{
	list-style-type: none;
	/*border: 1px  solid red;*/
	width: 946px;
	margin: 60px auto;
}
.orderPageAmendCenterRightBottomUl li{
	/*border: 1px  solid red;*/
	margin-top: 20px;
}
/*底部按钮*/
.orderPageAmendCenterRightBottomBtn{
	width: 173px;
	height: 47px;
	text-align: center;
	line-height: 47px;
	background-color: #ec6a17;
	color: white;
	margin-left: 20px;
	margin-top: 38px;
	border-radius: 5px;
	cursor: pointer;
}
.popupNews{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	width: 400px;
	height: 170px;
	color: white;
	left: 1253px;
	top: 462px;
	text-align: center;
	line-height: 170px;
	display: none;
}
.AmendInp1_Error,
.AmendInp2_Error,
.AmendInp3_Error,
.AmendInp4_Error,
.AmendInp5_Error{
	display: none;
}
/*正确按钮提示*/
.AmendInp1_Check,
.AmendInp2_Check,
.AmendInp3_Check,
.AmendInp4_Check,
.AmendInp5_Check{
	display: none;
}




















